{{! Each post will be output using this markup }}
{{#foreach posts}}
    <div class="row post-row">
        <div class="col-lg-12">
            <article class="{{post_class}} post-preview">
                <a class="post-link" href="{{url}}">
                    <header class="post-header" {{#if image}}style="background-image: url('{{image}}')"{{/if}}>
                        <div {{#if image}}class="darken"{{/if}}>
                            {{#if featured}}
                                <i class="featured fa fa-star fa-2x"></i>
                            {{/if}}
                            <div class="post-title-block">
                                <h2 class="post-title">
                                    {{{title}}}
                                </h2>
                                <h4 class="post-author">
                                    {{author.name}}
                                </h4>
                            </div>
                        </div>
                    </header>
                </a>
                <section class="post-meta">
                    <div class="text-muted">
                        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time>
                        {{#if tags}} on {{tags}}{{/if}}
                    </div>
                </section>
                <section class="post-excerpt">
                    <p>{{excerpt}}&hellip;</p>
                </section>
            </article>
        </div>
    </div>
{{/foreach}}

{{!! After all the posts, we have the previous/next pagination links }}
{{pagination}}
