{{! Each post will be output using this markup }}
{{#foreach posts}}
  <div class="row">
    <div class="col-lg-12">
      <article class="{{post_class}} post-preview">
        <header class="post-header">
          <h2 class="post-title">
            <a href="{{url}}">{{{title}}}</a>
            {{#if featured}}
              <span class="label label-primary">New</span>
            {{/if}}
          </h2>

          <div class="post-meta">
            {{#if image}}
              <img class="img-responsive img-rounded text-center" src="{{image}}" alt="{{{title}}} Banner Image"/>
            {{/if}}
            <div class="text-muted">
              <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time>
              {{#if tags}} on {{tags}}{{/if}}
            </div>
          </div>
        </header>
        <section class="post-excerpt">
          <p>{{excerpt}}&hellip;</p>
        </section>
      </article>
    </div>
  </div>
{{/foreach}}

{{!! After all the posts, we have the previous/next pagination links }}
{{pagination}}
