<!DOCTYPE html>
<html>
<head>
  {{! Document Settings }}
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

  {{! Page Meta }}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}"/>

  <meta name="HandheldFriendly" content="True"/>
  <meta name="MobileOptimized" content="320"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  {{! Styles'n'Scripts }}
  <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/prism.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/slate.min.css"/>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic|Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/assets/icons/favicon.ico">

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>
<body class="{{body_class}}">

{{navigation}}


{{! Everything else gets inserted here }}
{{{body}}}

<div class="popover fade top in" style="top: -202px; left: 0px; display: block;">
  <div class="arrow" style="left: 19.811320754717%;"></div>
  <div class="popover-content">All content copyright © 2015 • All rights reserved.</div>
</div>

{{>footer}}

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

{{! The main JavaScript file for Boo }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/background-check.min.js"></script>
<script type="text/javascript" src="/assets/js/prism.js"></script>
<script type="text/javascript" src="/assets/js/index.js"></script>


</body>
</html>