<!DOCTYPE html>
<html>
<head>
    {{! Head Tags }}
    {{>header}}

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

{{! Navigation Bar }}
{{navigation}}

{{! Everything else gets inserted here }}
{{{body}}}

{{! Footer }}
{{>footer}}

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

</body>
</html>