{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}


<header class="home-header" {{#if @blog.cover}} style="background-image: url({{@blog.cover}});"{{/if}}>
  <div class="container">
      <div class="row">
          <div class="col-lg-12 vertical-center">
              {{#if @blog.logo}}
                  <img src="{{@blog.logo}}" alt="{{@blog.title}}"/>
              {{else}}
                  <h1 class="brand auto-color">{{@blog.title}}</h1>
              {{/if}}
              {{#if @blog.description}}
                  <h2>{{@blog.description}}</h2>
              {{/if}}
          </div>
      </div>
  </div>
</header>

<main class="content" role="main">
    <section id="callout">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <blockquote>
                        <p>
                            As experts in software visualization and social technologies, we study how technology can
                            help people explore, understand and share complex information and knowledge.
                        </p>
                        <footer>
                            Cassie, Awesomeness Manager
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
    <section id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Recent Projects <a class="btn btn-default btn-sm" href="/projects/">View Projects</a></h2>
                </div>
            </div>
            <div class="row project">
                <div class="col-lg-6">
                    <div class="css-device css-device--browser" data-url="http://bioportal.bioontology.org/">
                        <img src="/content/images/2015/11/Biomixer.png"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3>Biomixer</h3>
                    <p>
                        Cupcake ipsum dolor sit amet. Cookie tiramisu tiramisu cookie sweet gummies halvah muffin
                        tiramisu. Wafer sweet roll lollipop gummi bears chocolate bar. Gummi bears tootsie roll soufflé
                        cookie pie cookie chocolate bar. Apple pie gummies tiramisu danish pudding chocolate cake
                        liquorice candy.
                    </p>
                    <a href="#" class="btn btn-primary">View Project</a>
                </div>
            </div>
            <div class="row project">
                <div class="col-lg-6 col-lg-push-6">
                    <div class="css-device css-device--desktop">
                        <img src="/content/images/2015/11/Atlantis.png"/>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-pull-6">
                    <h3>Atlantis</h3>
                    <p>
                        Gummies gummi bears jujubes pudding jujubes dessert carrot cake. Dessert cake sweet roll jelly
                        dessert lollipop dessert cookie. Tootsie roll wafer marzipan muffin. Tootsie roll sweet roll
                        chocolate cake halvah sweet jujubes marzipan pastry. Cupcake gummi bears chocolate cake gummi
                        bears gummi bears bear claw. Sweet roll tiramisu bonbon jelly pastry tiramisu toffee.
                    </p>
                    <a href="#" class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>
    </section>

    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Featured Articles <a class="btn btn-default btn-sm" href="/blog/">View Blog</a></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://placekitten.com/620/420" alt="...">

                        <div class="caption">
                            <h3>Alpha</h3>

                            <p>Biodiesel food truck narwhal, distillery venmo meggings migas
                                gastropub skateboard sustainable thundercats 90's. Venmo paleo tote bag typewriter,
                                tousled readymade pour-over kombucha tacos gastropub. Occupy photo booth wayfarers echo
                                park...</p>

                            <a href="#" class="btn btn-primary" role="button">Read Article</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://placekitten.com/620/421" alt="...">

                        <div class="caption">
                            <h3>Beta</h3>

                            <p>Lumbersexual VHS mixtape, kale chips tote bag gastropub schlitz messenger bag squid
                                mumblecore photo booth. Biodiesel food truck narwhal, distillery venmo meggings migas
                                gastropub skateboard sustainable thundercats 90's. Occupy...</p>

                            <a href="#" class="btn btn-primary" role="button">Read Article</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://placekitten.com/620/422" alt="...">

                        <div class="caption">
                            <h3>Gamma</h3>

                            <p>Everyday carry sriracha meh pabst ugh, letterpress chambray kombucha plaid organic.
                                Occupy photo booth wayfarers echo park banh mi, 90's lumbersexual portland butcher
                                ramps. Occupy photo booth wayfarers echo park banh mi, 90's lumbersexual...</p>

                            <a href="#" class="btn btn-primary" role="button">Read Article</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>