{{!< default}}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

    <header class="post-header" {{#if image}} style="background-image: url({{image}});"{{/if}}>
        <div {{#if image}}class="darken"{{/if}}>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1 class="post-title page-header">
                            {{{title}}}
                            <br/>
                            <small>
                                {{{author.name}}}
                            </small>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="content" role="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <article class="{{post_class}} post-full">

                        <div class="post-meta">
                            <div class="text-muted">
                                <time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at timeago="true"}}</time>
                                {{#if tags}} on {{tags}}{{/if}}
                            </div>
                        </div>

                        <section class="post-content">
                            {{content}}
                        </section>

                        <footer class="post-footer">
                            <div class="row">
                                <div class="col-md-8">
                                    <section class="author">
                                        <h5>About the author</h5>
                                        {{#author}}
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <img class="img-circle" src="{{image}}" alt="{{name}}"/>
                                                    <h4>
                                                        <a href="{{url}}">{{name}}</a>
                                                        <br/>
                                                        <small>{{location}}</small>
                                                    </h4>
                                                </div>
                                                <div class="col-md-10">
                                                    <p>{{bio}}</p>
                                                </div>
                                            </div>
                                        {{/author}}
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12 col-xs-6">
                                            <section class="share">
                                                <h5>Share this post</h5>
                                                <ul class="list-inline">
                                                    <li>
                                                        <a href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter fa-fw"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share', 'width=580,height=296');return false;"><i class="fa fa-facebook fa-fw"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="fa fa-google-plus fa-fw"></i></a>
                                                    </li>
                                                </ul>
                                            </section>
                                        </div>
                                        <div class="col-md-12 col-xs-6">
                                            <section class="published-date">
                                                <h5>Published on</h5>
                                                <p>
                                                    <time class="post-date">{{date format='MMMM DD, YYYY'}}</time>
                                                </p>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </footer>


                        <div id="disqus_thread"></div>
                        <script type="text/javascript">
                            var disqus_shortname = 'chiselgroup';
                            var disqus_identifier = '{{post.id}}';

                            /* * * DON'T EDIT BELOW THIS LINE * * */
                            (function () {
                                var dsq = document.createElement('script');
                                dsq.type = 'text/javascript';
                                dsq.async = true;
                                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments
                            powered by Disqus.</a></noscript>
                        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

                    </article>
                </div>
            </div>
        </div>
    </main>

{{/post}}