{{!< default}}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

    <header class="post-header" {{#if image}} style="background-image: url({{image}});"{{/if}}>
        <div {{#if image}}class="darken"{{/if}}>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="page-header">
                            <h1 class="post-title entry-title">
                                {{{title}}}
                            </h1>

                            <h3 class="post-author byline author vcard">
                                <span class="name">{{{author.name}}}</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="content" role="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <article class="{{post_class}} post-full">

                        <div class="post-meta">
                            <div class="text-muted">
                                <time class="published" datetime="{{date format="YYYY-MM-DD"}}">{{date published_at timeago="true"}}</time>
                                {{#if tags}} on {{tags}}{{/if}}
                            </div>
                        </div>

                        <section class="post-content">
                            <!-- Pocket and Readability metadata -->
                            {{#if image}}
                                <div class="hidden entry-image post-image">
                                    <!-- Post Image for Pocket and Readability-->
                                    <img class="image-rounded" src="{{image}}" alt="{{{title}}} Header Image"/>
                                </div>
                            {{/if}}
                            {{content}}
                        </section>

                        <footer class="post-footer">
                            <div class="row">
                                <div class="col-md-8">
                                    <section class="author">
                                        <h5>About the author</h5>
                                        {{#author}}
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <img class="img-circle" src="{{image}}" alt="{{name}}"/>
                                                    <h4 class="byline author vcard">
                                                        <a class="name" rel="author" href="{{url}}">{{name}}</a>
                                                        <br/>
                                                        <small>{{location}}</small>
                                                    </h4>
                                                </div>
                                                <div class="col-md-10">
                                                    <p>{{bio}}</p>
                                                </div>
                                            </div>
                                        {{/author}}
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12 col-xs-6">
                                            <section class="share">
                                                <h5>Share this post</h5>
                                                <ul class="list-inline">
                                                    <li>
                                                        <a href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share', 'width=580,height=296');return false;" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" data-toggle="tooltip" title="Google Plus"><i class="fa fa-google-plus fa-fw"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="http://www.addtoany.com/add_to/pocket?linkurl={{url absolute="true"}}&linkname={{title}}" data-toggle="tooltip" title="Pocket">
                                                            <i class="fa fa-get-pocket fa-fw"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </section>
                                        </div>
                                        <div class="col-md-12 col-xs-6">
                                            <section class="published-date">
                                                <h5>Published on</h5>
                                                <p>
                                                    <time class="post-date">{{date format='MMMM Do, YYYY'}}</time>
                                                </p>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </footer>


        </article>
      </div>
    </div>
  </div>
</main>

{{/post}}